#wrapper {
  max-width: 750px;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}
header {
  padding: 20px 0;
}
nav {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: grey;
}
a {
  color: black;
}
iframe {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 0px;
}
footer {
  background-color: grey;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0px;
}
#navigation {
  border: 2px solid black;
  border-radius: 10px;
  padding: 3px;
}
#lside {
  float: left;
  margin: auto;
}
#adimage {
  border: 2px solid grey;
  border-radius: 10px;
  padding: 1px;
}
#rside {
  background: #f0f0f0;
  padding: 5px;
  width: 145px;
  float: right;
  border: 2px solid grey;
  border-radius: 10px;
}
#head {
  border: 2px solid black;
  border-radius: 10px;
  padding: 0px;
}
